/* Cor de Fundo */
body {
background :rgba(8, 124, 126, 0.26); 
}
/* Cor cabeçalho e Rodapé */
nav {
background: -moz-linear-gradient(-45deg, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
background: -webkit-linear-gradient(-45deg, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
background: linear-gradient(135deg, #CE5937 0%, #1C6EA4 50%, #C59237 100%); 
display:flex;
}
/* Alinhar menu lado a lado */
nav ul { 
display: flex;
width: 80%;
list-style: none;
}
/* Alinhar espaço e tipo da fonte e cor da Fonte do Menu */
nav ul li a { 
background: transparent;
margin: 0 8px 0 8px;
font-family:inherit;
text-decoration: none;
font-size: medium;
text-decoration:none ;
font-size: 24px;
font-weight: bold;
font-style: italic;
color:rgb(253, 246, 247) ;
}
/* cor vermelho ao clicar no Menu*/
nav ul li a:hover{
color: #d50707;
font-weight:bold;
}	
/* Cor do Titulo principal texto e Tamanho e borda do h1 BEM-VINDO AO AMIGO PET!*/
h1 {
text-align: center;
Text-transform: uppercase;
color: #e93f0b;
background: #FFFFFF;
text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
Font-size: 60px;
border-top: 5px solid black; border-bottom: 0px solid black; border-right: 0px solid black;border-left: 0px solid black;	 		   
}
/* Cor do subtítulo texto e Tamanho e Borda do h2 class="fundo_vermelho" */
.fundo_vermelho{
font-size: 30px;
background: #e01010;
border-radius: 50px 50px 50px 50px;
text-indent: 35px;
width: 26%;
height: 10%;
margin: 20px 20px;
}
.fundo_verde{
font-size : 25px;
background:#f4f8f4;
border-radius: 50px 50px 50px 50px;
text-indent: 35px;
margin: 20px; 
}
.container {
display:flex;
width: 100%;
overflow: hidden;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
margin-top: 25px;
}
/* Cor e tamanho e Altura do Quadrado */
.member {
border-radius:20px;
width: 300px;
height: 400px;
margin-bottom: 50px;
background-color: #fffeff;
padding: 10px;
margin:15px;
}   
/* Tamanho da imagem e alinhamento */
.member img {
width: 90%;
height: 200px;
object-fit:scale-down;
margin-bottom: 25px;
}
/* tamanho e alinhamento do h3 */
.member h3 {
margin-top: 0;
font-size: 19px;
font-weight: bold;
text-align: center;
}
/* tamanho e fonte e alinhamento da linha de parágrafo*/
.member p {
margin-bottom: 0;
font-size: 20px;
text-align: center;
}
/* Estilo Pagina Sobre Nós */
/* Cor do subtítulo texto e Tamanho e Borda do h2 class="fundo_vermelho" */
.fundo_azul{
font-size : 25px;
background:#208ac3;
border-radius: 50px 50px 50px 50px;
text-indent: 20px;
width: 25%;
height: 10%;
margin: 20px 20px; 
}
.container2 {
display:flex;
width: 95%;
overflow: hidden;
flex-direction: row;
flex-wrap: wrap;
justify-content:baseline;
align-items:center;
margin-top: 35px;
position:relative;
margin: 0 auto;
}
/* Cor e tamanho e Altura do Quadrado */
.member2{
border-radius:40px;
width: 200px;
height: 400px;
margin-bottom: 50px;
background-color: #5523b1;
background: -moz-linear-gradient(-45deg, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
background: -webkit-linear-gradient(-45deg, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
background: linear-gradient(135deg, #CE5937 0%, #1C6EA4 50%, #C59237 100%); 
padding: 35px;
margin:12px;
}
/* Tamanho da imagem e alinhamento */
.Pag_02_img {
width: 90%;
height: 300px;
object-fit:contain;
margin-bottom: 15px;
position:absolute;
}
/* tamanho e alinhamento do h3 */
.Pag_02_h3{
margin-top: 1;
font-size: 24px;
font-weight: bold;
text-align: center;
}
/* tamanho e fonte e alinhamento da linha de parágrafo*/
.h6{
margin-top: 0;
font-size: 19px;
font-weight: bold;
text-align: center;
}
.h7{
margin-bottom: 0;
font-size: 20px;
text-align: center;
}
element.style {
background: #069cc2;
border-radius: 6px;
padding: 15px;
cursor: pointer;
color: #fff;
border: none;
font-size: 16px;
margin: 50px;
}
.botao{
width: 90%;
object-fit: scale-down;
margin-bottom: 50px;
padding: 1px;
margin:10px;
}
body {
display: block;
margin: 15px;
}
@media screen and (max-width:390px){
}
@media only screen and (min-width:769px){
}
/*formulario*/
/*cor e texturra e tamanho botao*/
.fundo{
color:#2654be
}
.field{
margin: 30px 0;
border-radius: 15px;
color: #0c0b0b;
font-family: 'Times New Roman', Times, serif;
width: 100%;
}
.field span {
padding-left: 2px;
font-size: 1.1em;
width: 100%;
}
input[type="text"],
input[type="E-mail"],
input[type="tel"],
#textarea{
width: 30%;
margin-bottom: 10px;
box-sizing: border-box;
border-radius: 15px;
border: 1px solid #201c1c;
outline: none;
padding: 5px;
height: 35px;
resize: none;
}
input[type="submit"]{
background-color: #03a8f5;
color: aliceblue;
padding: 12px 20px;
border-radius: 100px;
cursor: pointer;
}
input[type="submit"]:hover{
background-color: #99acb6
}
.enviar{
margin: 40px;
}
h5{
margin: 0 8px 0 8px;
font-family:inherit;
text-decoration: none;
font-size: medium;
text-decoration:none ;
font-size: 15px;
font-weight: bold;
font-style: italic;
color:rgb(22, 21, 21)
}
h4{
margin: 0 8px 0 8px;
text-decoration: none;
font-size: medium;
text-decoration:none ;
font-size: 25px;
font-weight: bold;
font-style: italic;
color:rgb(22, 21, 21)
}


@media screen and (max-width:390px){
}
@media only screen and (min-width:769px){
}